<%- include('../partials/header.ejs') %>
<div class="row">
    <div class="col-3 mx-auto my-5">
        Edit A HOTEL
        <form class="my-3 needs-validation" action="/hotels/<%= hotel._id %>?_method=PATCH" method="post" novalidate>
            <div class="form-floating mb-3">
                <input value="<%= hotel.name %>" name="hotel[name]" type="text" class="form-control" id="name"
                    placeholder="Hotel Name" required>
                <label for="name">Hotel Name</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a name for the hotel.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input value="<%= hotel.address %>" name="hotel[address]" type="text" class="form-control" id="address"
                    placeholder="Hotel Address" required>
                <label for="address">Hotel Address</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter an address for the hotel.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input value="<%= hotel.price %>" name="hotel[price]" type="number" class="form-control" id="price"
                    placeholder="Hotel Price" min="100" max="10000" step="1" required>
                <label for="price">Hotel Price</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter price.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input value="<%= hotel.image %>" name="hotel[image]" type="text" class="form-control" id="image"
                    placeholder="Hotel Image" required>
                <label for="image">Hotel Image</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid image address.
                </div>
            </div>
            <input class=" mt-3 btn btn-primary" type="submit" value="edit">
        </form>
    </div>
</div>
<script src="/scripts/form-validation.js"></script>
<%- include('../partials/footer.ejs') %>