<%- include('../partials/header.ejs') %>
<div class="row">
    <div class="col-3 mx-auto my-5">
        Edit a user
        <form class="my-3 needs-validation" action="/users/<%= user._id %>?_method=PATCH" method="post" novalidate>
            <div class="form-floating mb-3">
                <input value="<%= user.name %>" name="user[name]" type="text" class="form-control" id="name"
                    placeholder="Hotel Name" required>
                <label for="name">User's Full Name</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a name for the hotel.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input value="<%= user.image %>" name="user[image]" type="text" class="form-control" id="address"
                    placeholder="Hotel Address" required>
                <label for="address">User Image</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter an address for the hotel.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input value="<%= user.username %>" name="user[username]" type="text" class="form-control" id="price"
                    placeholder="Hotel Price" required disabled>
                <label for="price">User's Username</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter price.
                </div>
            </div>
            <input class=" mt-3 btn btn-primary" type="submit" value="edit">
        </form>
    </div>
</div>
<script src="/scripts/form-validation.js"></script>
<%- include('../partials/footer.ejs') %>